CompileFlags:
  CompilationDatabase: build
  Add:
    - --target=x86_64-pc-windows-msvc
    - -std=c++20
    - -fcxx-exceptions
    - -fms-extensions
    - -fms-compatibility
    - -DWIN32
    - -D_WINDOWS
    - -DUNICODE
    - -D_UNICODE
    - -DQT_CORE_LIB
    - -DQT_GUI_LIB
    - -DQT_WIDGETS_LIB
    - -DQT_NETWORK_LIB
    - -DQT_XML_LIB
    - -DQT_SVG_LIB
    - -DQT_PRINTSUPPORT_LIB
    - -DKA_HGIS_HAS_QGIS=1
    - -DCORE_EXPORT=__declspec(dllimport)
    - -DGUI_EXPORT=__declspec(dllimport)
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtCore
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtGui
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtWidgets
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtNetwork
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtXml
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtSvg
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtPrintSupport
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtTest
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtConcurrent
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtSql
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtOpenGL
    - -isystem
    - C:/OSGeo4W/apps/Qt6/include/QtOpenGLWidgets
    - -isystem
    - C:/OSGeo4W/apps/qgis-dev/include
    - -isystem
    - C:/OSGeo4W/apps/gdal-dev/include
    - -isystem
    - C:/OSGeo4W/include
    - -I
    - src
    - -I
    - src/app
    - -I
    - src/core
    - -I
    - build-clangd/ka-hgis_autogen/include
    - -I
    - build-clangd/ka_core_autogen/include
    - -I
    - build-clangd/ka_hgis_tests_autogen/include
    - -I
    - build-clangd/ka_workflow_tests_autogen/include
    - -Wno-unknown-argument
Index:
  Background: Build
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
